@import "tailwindcss";

@theme {
  --color-primary: #0056b3;
  /* Approximate blue from TNUT */
  --color-secondary: #f0f0f0;
  --font-sans: Arial, Helvetica, sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@keyframes scale-pulse {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }
}

.animate-scale-pulse {
  animation: scale-pulse 2s infinite;
}